section,
aside,
footer {
  display: flex;
}

footer {
  margin: 1vh;
}

#app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-box {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 1vw;
  margin: 1vh;
  overflow: hidden;
}

@media screen and (min-width: 1501px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  #main-box {
    margin: 1vh 1vh 0;
  }

  footer {
    margin: 0 1vh 1vh;
  }
}
