section,
aside,
footer {
  display: flex;
}

#app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-box {
  flex: 1;
  display: flex;
  gap: 15px;
  margin: 10px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #main-box {
    gap: 10px;
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  #app-layout {
    height: 100vh;
  }

  #main-box {
    flex-direction: column;
    gap: 5px;
  }
}
