section,
aside,
footer {
  display: flex;
}

#left-sidebox,
#right-sidebox {
  width: 14rem;
}

#home-box {
  width: 60%;
}

/* @media screen and (max-width: 1500px) {
  #home-box {
    width: 80%;
  }

  #right-sidebox {
    display: none;
  }
} */

/* footer {
  margin: 1vh;
} */

#app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-box {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 0.5rem;
  margin: 0.3rem;
  overflow: hidden;
}

/* 
@media screen and (min-width: 1501px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  #main-box {
    margin: 1vh 1vh 0;
  }

  footer {
    margin: 0 1vh 1vh;
  }
} */
