#home {
  width: 60vw;
  height: 70vh;
  padding: 3vh 4vw;
  border-radius: 6vh;
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #786262;
  overflow-y: auto;
  overflow-x: hidden;
}

#home::-webkit-scrollbar {
  display: none;
}

.title {
  padding: 3vh 0 3vh;
  text-align: center;
}

.title > h1 {
  background-color: #9f8989;
  padding: 1vh 2vw;
  border-radius: 6vh;
}

#songs,
#artists,
#albums {
  display: flex;
  gap: 2vh;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.song {
  height: 14vh;
  border-radius: 6vh;
  background: #564040;
  align-content: center;
  position: relative;
}

.album {
  height: 28vh;
  border-radius: 6vh;
  background: #564040;
  align-content: center;
  position: relative;
}

.artist {
  height: 28vh;
  border-radius: 100vh;
  background: #564040;
  align-content: center;
  position: relative;
}
.song,
.album,
.artist {
  width: 13vw;
}

button {
  position: absolute;
  background-color: #9f8989;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
}

button:hover {
  background-color: #d4bbbb;
}

.song-button {
  position: absolute;
  right: 1vw;
  transform: translateY(-50%);
  width: 3.5vw;
  height: 7.5vh;
}

.album-button {
  position: absolute;
  top: 17vh;
  right: 1vw;
  width: 4vw;
  height: 9vh;
}

.artist-button {
  position: absolute;
  right: 2vw;
  width: 4vw;
  height: 9vh;
}
