#home {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 40px;
  background-color: #786262;
  border-radius: 40px;
  height: calc(100vh - 165px);
  max-width: 100%;
  min-width: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#home::-webkit-scrollbar {
  display: none;
}

.title {
  padding: 20px 0 20px;
  text-align: center;
}

.title>h1 {
  background-color: #9f8989;
  padding: 10px 20px;
  border-radius: 40px;
}

#songs,
#artists,
#albums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 1601px) {

  #songs,
  #artists,
  #albums {
    grid-template-columns: repeat(5, 1fr);
    gap: 45px;
  }
}

.song {
  width: 200px;
  height: 100px;
  border-radius: 40px;
  background: #564040;
  align-content: center;
  position: relative;
}

.album {
  width: 200px;
  height: 200px;
  border-radius: 40px;
  background: #564040;
  align-content: center;
  position: relative;
}

.artist {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #564040;
  align-content: center;
  position: relative;
}

button {
  position: absolute;
  background-color: #9f8989;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #d4bbbb;
}

.song-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.album-button {
  position: absolute;
  top: 60%;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.artist-button {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}