.left-sidebar {
  width: 19vw;
  height: 80vh;
  padding: 3vh 1vw;
  border-radius: 6vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #5f4949;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-sidebar::-webkit-scrollbar {
  display: none;
}

#menu-wrapper,
#playlist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#playlist-title {
  display: flex;
  justify-content: center;
  padding: 3vh 0 3vh;
  text-align: center;
}

#playlist-title > h1 {
  background-color: #9f8989;
  padding: 1vh 2vw;
  border-radius: 6vh;
}

.playlist {
  position: relative;
}

.playlist > .playlist-img {
  background-color: #9f8989;
  border-radius: 6vh;
  width: 2.5vw;
  height: 5.5vh;
  position: absolute;
  left: 2vw;
  top: 1.5vh;
  transform: translateX(-50%);
}

.playlist > .playlist-title {
  background-color: #9f8989;
  border-radius: 6vh;
  width: 5vw;
  height: 1vh;
  position: absolute;
  left: 4.5vw;
  top: 2.5vh;
}

.playlist > .playlist-author {
  background-color: #9f8989;
  border-radius: 6vh;
  width: 5vw;
  height: 0.5vh;
  position: absolute;
  left: 4.5vw;
  top: 5vh;
}

.search,
.home,
.playlists,
.playlist {
  width: 17vw;
  height: 8.5vh;
  border-radius: 6vh;
  background: #2f1919;
  align-content: center;
  position: relative;
}

.search > .search-button {
  background-color: #9f8989;
  border-radius: 6vh;
  width: 2.5vw;
  height: 5.5vh;
  position: absolute;
  top: 1.5vh;
  right: 0.7vw;
}

.search > .search-input {
  background-color: #9f8989;
  border-radius: 6vh;
  width: 12.5vw;
  height: 5.5vh;
  position: absolute;
  top: 1.5vh;
  right: 3.8vw;
}

.home > .home-img,
.playlists > .playlists-img {
  background-color: #9f8989;
  border-radius: 6vh;
  width: 2.5vw;
  height: 5.5vh;
  position: absolute;
  left: 2vw;
  top: 1.5vh;
  transform: translateX(-50%);
}

.home > .home-title,
.playlists > .playlists-title {
  background-color: #9f8989;
  border-radius: 6vh;
  width: 6vw;
  height: 1.5vh;
  position: absolute;
  left: 4.5vw;
  top: 3.5vh;
}

@media screen and (min-width: 1501px) {
  .left-sidebar {
    height: 98vh;
  }
}
