#main-home {
  width: 60%;
  height: 98%;
  padding: 4% 6%;
  border-radius: 2rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #786262;
  overflow-y: auto;
  overflow-x: hidden;
}

#main-home::-webkit-scrollbar {
  display: none;
}

.title {
  padding: 2% 0 4%;
  text-align: center;
}

.title > h1 {
  background-color: #9f8989;
  padding: 1% 2%;
  border-radius: 2rem;
}

#songs,
#artists,
#albums {
  display: flex;
  gap: 0.5%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.song {
  height: 5rem;
  border-radius: 2rem;
  margin: 1% 0.5%;
  background: #564040;
  align-content: center;
  position: relative;
}

.album {
  height: 9.5rem;
  border-radius: 2rem;
  margin: 1% 0.5%;
  background: #564040;
  align-content: center;
  position: relative;
}

.artist {
  height: 9.5rem;
  border-radius: 5rem;
  margin: 1% 0.5%;
  background: #564040;
  align-content: center;
  position: relative;
}

.song,
.album,
.artist {
  width: 8.9rem;
}

button {
  position: absolute;
  background-color: #9f8989;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

button:hover {
  background-color: #d4bbbb;
}

.song-button {
  position: absolute;
  right: 0.8rem;
  transform: translateY(-50%);
  width: 30%;
  height: 53%;
}

.album-button {
  position: absolute;
  top: 5.5rem;
  right: 0.8rem;
  width: 34%;
  height: 32%;
}

.artist-button {
  position: absolute;
  right: 1.2rem;
  width: 34%;
  height: 32%;
}

@media screen and (max-width: 1500px) {
  #main-home {
    width: 90%;
  }
}

@media screen and (min-width: 1501px) {
  #main-home {
    height: 100%;
  }
}
